# requirements for a development environment using linux
# - to create use pip install -U mypy for each and then manually reformat the last line
# - make sure you search-replace each individually '-' -> '=='

# mypy
mypy==2.1.0
mypy_extensions==1.1.0
pathspec==1.1.1
typing_extensions==4.15.0
types-requests==2.32.4.20250611

# pylint
astroid==4.0.4
dill==0.4.1
isort==8.0.1
mccabe==0.7.0
pylint==4.0.5
tomlkit==0.15.0

# sphinx
alabaster==1.0.0
babel==2.17.0
docutils==0.22.4
imagesize==1.4.1
roman-numerals-py==3.1.0
snowballstemmer==3.0.1
sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinx_copybutton==0.5.2

# sourcery
sourcery==1.43.0

#pre-commit
cfgv==3.5.0
distlib==0.4.0
filelock==3.29.0
identify==2.6.19
nodeenv==1.10.0
platformdirs==4.10.0
pre-commit==4.6.0
pyyaml==6.0.3
virtualenv==21.4.1

# pudb
jedi==0.19.2
parso==0.8.4
pudb==2025.1
urwid==3.0.2
urwid-readline==0.15.1
wcwidth==0.2.13

# pytest
iniconfig==2.3.0
pluggy==1.6.0
pygments==2.20.0
pytest==9.0.3

# pytest-qt
pytest-qt==4.5.0
