# requirements for a development environment using linux
# - to create use pip install -U mypy for each and then manually reformat the last line
# - make sure you search-replace each individually '-' -> '=='

# mypy
mypy==1.16.1
mypy_extensions==1.1.0
pathspec==0.12.1
typing_extensions==4.14.0
types-requests==2.32.4.20250611

# pylint
astroid==3.3.10
dill==0.4.0
isort==6.0.1
mccabe==0.7.0
pylint==3.3.7
tomlkit==0.13.3

# sphinx
alabaster==1.0.0
babel==2.17.0
docutils==0.21.2
imagesize==1.4.1
roman-numerals-py==3.1.0
snowballstemmer==3.0.1
sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinx_copybutton==0.5.2

# sourcery
sourcery==1.37.0

#pre-commit
cfgv==3.4.0
distlib==0.3.9
filelock==3.18.0
identify==2.6.12
nodeenv==1.9.1
platformdirs==4.3.8
pre-commit==4.2.0
pyyaml==6.0.2
virtualenv==20.31.2

# pudb
jedi==0.19.2
parso==0.8.4
pudb==2025.1
urwid==3.0.2
urwid-readline==0.15.1
wcwidth==0.2.13

# pytest
iniconfig==2.1.0
pluggy==1.6.0
pygments==2.19.2
pytest==8.4.1
