name: Verify Linux install

on:
  push:
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10"] #, "3.11", "3.12" ]

    steps:
    - name: Checkout content
      uses: actions/checkout@v3
    - name: Set up ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-linux.txt
        pip install coverage pytest
    - name: Check installation - should fail
      run: |
        python3 -m pasta_eln.installationTools
    - name: Installation
      run: |
        python3 -m pasta_eln.installationTools install pasta_data
        ls ~
        echo '----------'
        ls ~/pasta_data
        more ~/.pastaELN_v3.json
    - name: Check installation - should NOT fail
      run: |
        python3 -m pasta_eln.installationTools
    - name: Create example data
      run: |
        python3 -m pasta_eln.installationTools example
        tree ~/pasta_data
    - name: Run tests
      run: |
        coverage run -m pytest -s --tb=short tests && coverage html -i -d htmlcov
    - name: Upload log
      uses: actions/upload-artifact@v3
      with:
        name: pastaELN.log
        path: ~/pastaELN.log
      if: ${{ always() }}
