name: Verify Linux install

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up system, for alternative git-annex
      shell: bash
      run: |
        bash <(wget -q -O- http://neuro.debian.net/_files/neurodebian-travis.sh)
        sudo apt-get update -qq
        sudo apt-get install eatmydata
        sudo eatmydata apt-get install git-annex-standalone
    - name: Set up git environment variables
      run: |
        git config --global user.email "test@github.land"
        git config --global user.name "GitHub Almighty"
    - name: Checkout content
      uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements-linux.txt
    - name: Check installation - should fail
      run: |
        python3 -m pasta_eln.installationTools
    - name: Installation
      run: |
        python3 -m pasta_eln.installationTools install
    - name: Check installation - should NOT fail
      run: |
        python3 -m pasta_eln.installationTools
    - name: Create example data
      run: |
        python3 -m pasta_eln.installationTools example
    - name: Upload log
      uses: actions/upload-artifact@v3
      with:
        name: pastaELN.log
        path: ~/pastaELN.log
      if: ${{ always() }}
