name: PyTest&Coverage

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]

    steps:
      - uses: actions/checkout@v3
      - name: Install ubuntu dependencies
        run: sudo apt-get install libsm6 libxext6 ffmpeg libfontconfig1 libxrender1 libgl1-mesa-glx
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-linux.txt
      - name: Test with pytest
        run: |
          coverage run --omit="*/test*" -m pytest . && coverage html -i
#         chmod +x ./run_tests.sh
#         ./run_tests.sh
        #shell: bash
