name: PyTest&Coverage

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]

    steps:
      - uses: actions/checkout@v3
      - name: Install ubuntu dependencies
        run: sudo apt-get install libegl1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-linux.txt
      - name: Test with pytest
        run: |
          mkdir -p htmlcov
          chmod +x ./run_tests.sh
          ./run_tests.sh
        shell: bash
        env:
          QT_QPA_PLATFORM: "offscreen"
